$size: 8px;
$foreground-color: #f7234d;
$background-color: #fff0f0;

@mixin scrollbars {
  // For Chrome & Safari
  &::-webkit-scrollbar {
    width: $size;
    height: $size;
  }
  &::-webkit-scrollbar-thumb {
    background: $foreground-color;
    border-radius: 6px;
  }
  &::-webkit-scrollbar-track {
    background: $background-color;
  }

  // Standard version (Firefox only for now)
  &.scrolling {
    scrollbar-color: $foreground-color $background-color;
  }
}